<div class="ket">
    <div class="kengang">
        <hr width="1200px" size="5px" />
    </div>
    <div class="logoket">
        <img src="../img/logotrangphimz.png" alt="">
        <span style="color:white; padding-top: 0px;">Trang phim online chất lượng cao</span>
    </div>
    <div class="mot">
        <b style="font-size: 20px;">Về chúng tôi</b></br></br>
        <ul>
            <li><a href="" title="Liên hệ" title="liên hệ" >Liên hệ</a> </li>
            <li><a href="/gioithieu" title="Giới thiệu" >Giới thiệu</a> </li>
            <li><a href="#" title="Bản quyền">Bản quyền</a> </li>
        </ul>
    </div>
    <div class="hai">
        <b style="font-size: 20px;">Trang chủ</b></br></br>
        <ul>
            <li><a href="#" title="Phim bộ">Phim bộ</a> </li>
            <li><a href="#" title="Phim lẻ">Phim lẻ</a> </li>
            <li><a href="#" title="Phim chiếu rạp">Phim chiếu rạp</a> </li>
        </ul>
    </div>
    <div class="ba">
        <b style="font-size: 20px;">Liên hệ quảng cáo</b></br></br>
        <img src="https://img.icons8.com/nolan/50/facebook-new.png" />
        <a href="https://www.facebook.com/profile.php?id=100023685245287" title="Facebook">Facebook</a><br>
        <img src="https://img.icons8.com/nolan/64/twitter.png" />
        <a href="#" title="Twitter">Twitter</a><br>
        <img src="https://img.icons8.com/nolan/64/instagram-new.png" />
        <a href="#" title="Instagram">Instagram</a>
    </div>
</div>

<style>

.ket {
width: 1200px;
height: 200px;
background-color: #0c2738;
box-shadow: 0 2px 10px 0 #000000;
}

.ket .logoket {
    width: 250px;
    height: 150px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

    .ket .logoket img {
        width: 240px;
        height: 40px;
    }

.ket .mot {
    width: 230px;
    height: 150px;
    margin-left: 100px;
    color: #11e2d1;
    float: left;
}

    .ket .mot ul {
        margin: 0px;
        padding: 0px;
    }

        .ket .mot ul li {
            list-style: none;
        }

            .ket .mot ul li a {
                text-decoration: none;
                color: #11e2d1;
                font-size: 15px;
                font-family: 'Times New Roman', Times, serif;
            }

                .ket .mot ul li a:hover {
                    color: orange
                }

.ket .hai {
    width: 230px;
    height: 150px;
    color: #11e2d1;
    float: left;
}

    .ket .hai ul {
        margin: 0px;
        padding: 0px;
    }

        .ket .hai ul li {
            list-style: none;
        }

            .ket .hai ul li a {
                text-decoration: none;
                color: #11e2d1;
                font-size: 15px;
                font-family: 'Times New Roman', Times, serif;
            }

                .ket .hai ul li a:hover {
                    color: orange
                }

.ket .ba {
    width: 230px;
    height: 150px;
    color: #11e2d1;
    float: left;
}

    .ket .ba img {
        width: 22px;
        height: 15px;
    }

    .ket .ba a {
        text-decoration: none;
        color: #11e2d1;
        font-size: 14px;
    }

        .ket .ba a:hover {
            color: white
        }
        .kengang 
        {
            color:aqua;
        }
    
</style>