<% include ../layout %>
<div class="container-fluid">
  <div class="card">
      <div class="card-header">
          <h2>Thêm thể loại</h2>
      </div>
      <div class="card-body">
          <form method="POST" action="" >
              <div class="form-group">
                  <label for="">Tên thể loại</label>
                  <input type="text" name="TenTheLoai" class="form-control" required>
              </div>
              <button name="sbm" class="btn btn-success" type="submit">Thêm</button>
          </form>
      </div>
  </div>
</div>