<% include layout/mo %>

<div class="than">
    <h1 style="color:white;">Về chúng tôi</h1>
    <p>Trang phim.net là website chia sẻ thông tin cũng như các bộ phim mới thông qua nhiều nguồn khác nhau từ các thành viên trên diễn đàn. Website được thành lập vào năm 2020 với mục đích mang đến kênh giải trí, trao đổi cho những thành viên yêu thích phim ảnh và nghệ thuật.</p>
    <p>Chúng tôi luôn cố gắng mang đến trải nghiệm tốt nhất cho mọi người với cơ sở hạ tầng ổn định, băng thông truyền tải nhanh và tăng tối đa khả năng truy cập của nhiều người cùng một lúc, để đảm bảo rằng mọi người đều có thể đọc thông tin và xem các phim mình yêu thích một cách thoải mái nhất.Đội ngũ của chúng tôi hiện đang có 5 người, gồm 2 bạn phụ trách về mảng duyệt phim của các thành viên, 2 bạn chịu trách nhiệm về website và một bạn tiếp nhận các yêu cầu cũng như giải quyết khiếu nại.</p>
    <p>Vì chi phí vận hành, bảo trì hệ thống rất lớn nên chúng tôi cung cấp một số dịch vụ quảng cáo để có thể tiếp tục duy trì và phát triển website lâu dài. Một số quảng cáo có thể khiến bạn khó chịu, tuy nhiên đây là điều cần thiết để có chi phí phục vụ cho việc duy trì website, nên mong các bạn thông cảm.</p>
    <p>Chúng tôi sẽ cố gắng mang đến những thông tin review phim mới cập nhật liên tục, để bạn không bỏ lỡ các chi tiết nóng hổi nào. Đối với các bộ phim mới, chúng tôi sẽ cố gắng cập nhật nhanh nhất, tuy nhiên trong thời gian phim đang chiếu tại rạp, chúng tôi sẽ hạn chế xuất hiện những phim này nếu các bạn chia sẻ lên, hãy thưởng thức các bộ phim mới tại rạp để ủng hộ nhà sản xuất.</p>
    <p>Hy vọng các bạn có những giây phút thư giãn với Trang phim.net, hãy truy cập vào website tham khảo thông tin và xem các bộ phim được chia sẻ để ủng hộ Trang phim.net nhé. Trân trọng.</p>
    <div class="mid">
        <div class="phim">
            <h1 style="margin-top:-30px;">Xem phim của chúng tôi</h1>
            <div class="mot">
                <img src="../img/ảnh phim muon xem 1.jpg" alt="">
                <a href="#" title="Muốn Hạnh Phúc" style="text-decoration: none; font-size: 15px; padding-left: 5px; color: #11e2d1;"><b>Muốn Hạnh Phúc</b></a>
                <a href="#" title="I Need Romance" style="text-decoration: none; font-size: 15px; padding-left: 5px; "><span>I Need Romance</span></a>
                <p>[HD-Vietsub]</p>
            </div>
            <div class="hai">
                <img src="../img/ảnh phim muốn xem 2.jpg" alt="">
                <a href="#" title="Nàng Rắn" style="text-decoration: none; font-size: 15px; padding-left: 5px; color: #11e2d1;"><b>Nàng Rắn</b></a>
                <a href="#" title="Dear Judge" style="text-decoration: none; font-size: 15px; padding-left: 5px; "><span>Dear Judge</span></a>
                <p>[HD-Vietsub]</p>
            </div>
            <div class="ba">
                <img src="../img/ảnh phim muốn xem 3.jpg" alt="">
                <a href="#" title="Tây Hành Kỷ" style="text-decoration: none; font-size: 15px; padding-left: 5px; color: #11e2d1;"><b>Tây Hành Kỷ</b></a>
                <a href="#" title="The Westward" style="text-decoration: none; font-size: 15px; padding-left: 5px; "><span>The Westward</span></a>
                <p>[HD-Vietsub]</p>
            </div>
            <div class="bon">
                <img src="../img/ảnh phim muốn xem 4.jpg" alt="">
                <a href="#" title="Sở Hữu" style="text-decoration: none; font-size: 15px; padding-left: 5px; color: #11e2d1;"><b>Sở Hữu</b></a>
                <a href="#" title="Mine 2021" style="text-decoration: none; font-size: 15px; padding-left: 5px; "><span>Mine 2021</span></a>
                <p>[HD-Vietsub]</p>
            </div>
            <div class="nam">
                <img src="../img/ảnh phim muốn xem 5.jpg" alt="">
                <a href="#" title="Hoa Mộc Lan" style="text-decoration: none; font-size: 15px; padding-left: 5px; color: #11e2d1;"><b>Hoa Mộc Lan</b></a>
                <a href="#" title="Huamulan" style="text-decoration: none; font-size: 15px; padding-left: 5px; "><span>Huamulan</span></a>
                <p>[HD-Vietsub]</p>
            </div>
        </div>
    </div>
</div>
<% include layout/ket %>

<style>

    .than {
        width: 800px;
        height: 1800px;
        margin-top: 50px;
        margin-left: 200px;
        margin-bottom: 400px;
    }

        .than .mid {
            width: 1200px;
            margin-top: 100px;
            margin-left: -200px;
        }

        .than h1 {
            color: aqua;
            font-size: 70px;
            text-align: center;
        }

        .than p {
            color: #afbec9;
            font-size: 25px;
            line-height: 50px;
        }

        .than .mid .phim h1 {
            color: yellow;
            font-size: 30px;
            text-align: center;
            margin-top: 90px;
        }

        .than .mid .phim img {
            width: 250px;
            height: 290px;
            padding-left: 50px;
            margin-left: 20px;
            margin-top: 20px;
            border-radius: 2%;
            -moz-border-radius: 2%;
            -webkit-border-radius: 2%;
        }

        .than .mid .phim .mot {
            padding-top: 15px;
            width: 208px;
            height: 280px;
            float: left;
            margin-left: 2px;
        }

        .than .mid .phim .hai {
            padding-top: 15px;
            width: 208px;
            height: 280px;
            float: left;
            margin-left: 5px;
        }

        .than .mid .phim .ba {
            padding-top: 15px;
            width: 208px;
            height: 280px;
            float: left;
            margin-left: 5px;
        }

        .than .mid .phim .bon {
            padding-top: 15px;
            width: 208px;
            height: 280px;
            float: left;
            margin-left: 5px;
        }

        .than .mid .phim .nam {
            padding-top: 15px;
            width: 208px;
            height: 280px;
            float: left;
            margin-left: 5px;
        }

        .than .mid .phim a {
            color: #11e2d1;
            margin-left: 65px;
        }

            .than .mid .phim a span {
                color: white;
            }

        .than .mid .phim p {
            color: white;
            margin-left: 70px;
            font-size: 14px;
        }



</style>
